/*colores/*
dark - #191919
blue - #08b6e6*/

body{
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
}

.logos-text-cnt{
  margin-top: 15px;
}
.wrap-logos{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  padding: 10px 0;
}
/*SECTION 1*/
header {
	background-color: #fff;
	font-size: 16px;

}
.nav .nav-link {
	color: #7e8289;
}
.nav .nav-link:hover {
	color: #08b6e6;
}


/*SECTION 2*/
section.banner-cnt {
	width: 100%;
	height: 450px;
	background-image: url("img/picbg.png");
	background-repeat: no-repeat;
	background-size: cover; 
	display: flex;
    align-items: center;
}
.banner-cnt .banner-text-cnt {
	text-align: center;
	margin: auto;
}
.banner-text {
	color: #fff;
}
button.banner-button {
	background-color: #08b6e6;
	border-radius: 3px;
	color: #fff;
	font-size: 14px;
	padding: 8px 20px;
	cursor: pointer;
	border-style: none;
}
button.banner-button:hover {
	font-size: 15px;
}
button.banner-button:active {
    border: 1px white solid;
}



.title-sect{
	margin-bottom: 50px;
}
.blue-text{
	color: #08b6e6;
}
a{
	color: #08b6e6;
}

a:hover{
	text-decoration: none;
}


.logos-text-cnt p {
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	font-weight: bold;
}
/* .logos-item {
	margin: 10px;
} */

/*Section-4*/
.subscribe-buttons{
	background-color: #08b6e6;
	padding: 50px 0;
	color: #fff;
}
.subscribe-buttons-ctn, .subscribe-buttons-text-ctn {
	margin: 0 20px;
}
.subscribe-buttons-ctn h4 {
	font-size: 28px;
	margin-bottom: 15px;
}
div.subscribe-buttons-logos {
	margin: 0;
	margin-top: 15px;
}
.subscribe-buttons-logos div {
	padding-right:10px;
	padding-left: 0;
}
.subscribe-buttons-text-ctn ul {
	padding-left: 15px;
	font-size: 16px;
}
.margin-top {
	margin-top: 20px;
}

/*Section-5*/
.sect-5{
	background-color: #fff;
	padding: 50px 0;
}
.sect-5 h6{
	font-size: 19px;
}

.sect-5 .blue-text{
	text-transform: uppercase;
}
.wrap-item-sect-5{
	margin-bottom: 30px;
}


/*Section-6*/
.sect-6{
	background-color: #191919;
	padding: 55px 0;
	color: #bfbfbf;
}
.sect-6 .title-sect{
	color: #fff;
}
.sect-6 h6{
	margin-top: 30px;
	font-size: 19px;
}
.wrap-item-sect-6{
	margin-bottom: 30px;
}

/*Section 7*/
.sect-7 {
	color: #191919;
	padding: 55px 0;
}
a.episode-link {
	color: #191919;
}
.episode-cnt {
	margin-bottom: 30px;
}

/*SECTION 8*/
.fb-page {
	padding: 20px 0px;
}
.twitter-page {
	width: 300px;
	display: inline-block;
}


/*SECTION 9*/ 

.sect-9 {
	background-color: #ccc;
}
.consume-header {
	padding-top: 20px;
	margin: 0;
	line-height: 1.5;
	font-size: 3rem;
}
.consume-header span {
	text-transform: uppercase;
	color: #08b6e6;
}
.consume-cnt {
	padding: 30px 0;
}
.consume-blab, .consume-audio, .consume-video {
	display: flex;
	justify-content: center;
	padding: 30px 0;
}
.consume-cnt1 {
	display: inline-block;
	margin-right: 10px;
}
.consume-blab-cnt2, .consume-audio-cnt2, .consume-video-cnt2 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.consume-blab-cnt2 a, .consume-audio-link, .consume-video-link {
	font-size: 1.2rem;
	font-weight: bold;
}
.consume-blab-icon {
	margin-top: 10px;
	width: 40px;
}
.consume-audio-cnt2, .consume-audio-link span, 
.consume-video-link span, .consume-video-cnt2 {
	font-size: 1.2rem;
	font-weight: bold;
	color: black;
}
.consume-audio-icon, .consume-video-icon {
	margin-top: 10px;
	width: 100px;
	height: 38px;
}
/*SECTION 10*/

.sect-10 {
	background-color: #0d0d0d;
	color: #fff;
	padding: 5% 0;
}
.footer-logo {
	margin-bottom: 30px;
}
.footer-logo-cnt {
	font-size: 15px;
}

.footer-btn-header {
	padding: 30px 0;
	font-weight: bold;
}

/*SECTION 11*/

.sect-11 {
	background-color: #333;
	color: #fff;
}
.legalese-cnt {
	font-size: 1.1rem;
	padding: 15px 0px;
}
